node_modules/
.next/
out/
*.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/

Nowy Dokument tekstowy.txt
src/app/dfgd.txt
src/app/budowa-remont/dfgfdg.txt
src/app/budowa-remont/beton/dfgdfg.txt
src/app/motoryzacja/dfgdfg.txt
src/components/dfg.txt

src/app/motoryzacja/koszt-paliwa/Nowy Dokument tekstowy.txt
src/app/motoryzacja/koszt-przejazdu/Nowy Dokument tekstowy.txt
src/app/motoryzacja/spalanie/Nowy Dokument tekstowy.txt
src/app/motoryzacja/sprowadzenie-auta/Nowy Dokument tekstowy.txt